[submodule "dist/signup-form"]
	path = dist/signup-form
	url = git@github.com:NeoPlato/odin-signup-form.git
[submodule "dist/admin-dashboard"]
	path = dist/admin-dashboard
	url = git@github.com:NeoPlato/odin-admin-dashboard.git
[submodule "dist/library"]
	path = dist/library
	url = git@github.com:NeoPlato/odin-library.git
[submodule "dist/etch-a-sketch"]
	path = dist/etch-a-sketch
	url = git@github.com:NeoPlato/odin-etch-a-sketch.git
[submodule "dist/calculator"]
	path = dist/calculator
	url = git@github.com:NeoPlato/odin-calculator.git
[submodule "dist/rock-paper-scissors"]
	path = dist/rock-paper-scissors
	url = git@github.com:NeoPlato/odin-rock-paper-scissors.git
[submodule "dist/landing-page"]
	path = dist/landing-page
	url = git@github.com:NeoPlato/odin-landing-page.git
[submodule "dist/recipes"]
	path = dist/recipes
	url = git@github.com:NeoPlato/odin-recipes.git
[submodule "dist/restaurant"]
	path = dist/restaurant
	url = git@github.com:NeoPlato/odin-restaurant.git
[submodule "dist/tic-tac-toe"]
	path = dist/tic-tac-toe
	url = git@github.com:NeoPlato/odin-tic-tac-toe.git
